[webservers]
web-1 ansible_host=93.77.183.170 fqdn=fhmcrrvfo7qo9c96kula.auto.internal
web-2 ansible_host=93.77.178.26 fqdn=fhmiirfn1qjksfku4oo2.auto.internal

[databases]
main ansible_host=130.193.36.44 fqdn=fhmacbp4qdhrecsm8v0p.auto.internal
replica ansible_host=84.201.156.162 fqdn=fhm18pneo6dj39dga64u.auto.internal

[storage]
storage ansible_host=89.169.129.62 fqdn=fhm3srtv4e9gq6u6r210.auto.internal
